# Importing pre processing functions

In [1]:
import funcs as obj
import cosine_similarity as cs

In [3]:
main_obj = obj.Pre_processing_functions()

# getting data

In [4]:
movie = main_obj.read_files(r'S:\RNN-Python\tmdb_5000_movies.csv')
credits = main_obj.read_files(r'S:\RNN-Python\tmdb_5000_credits.csv')

# Merging Dataframes

In [5]:
merged_df = main_obj.merge_data(movie,credits,on_feature='title')

# Selecting  Features

In [6]:
features_df = main_obj.select_features(merged_df,'movie_id','title','overview','genres','keywords','cast','crew')

# Filtering Null Values

In [7]:
features_df.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [8]:
features_df = features_df.dropna()

# String Processing

In [9]:
features_df['genres'] = features_df['genres'].apply(main_obj.convert,key='name')
features_df['keywords'] = features_df['keywords'].apply(main_obj.convert,key='name')
features_df['cast'] = features_df['cast'].apply(main_obj.convert,key='name')

In [10]:
features_df['cast'] = features_df['cast'].apply(lambda x:x[0:3])

In [11]:
features_df.shape

(4806, 7)

# Selecting a specific Field from Column 'crew'

In [12]:
features_df['crew'] = features_df['crew'].apply(main_obj.fetch_ , args=('name','job','Director'))

# removing white spaces

In [13]:
features_df['cast'] = features_df['cast'].apply(main_obj.collapse,args=(" ",""))
features_df['crew'] = features_df['crew'].apply(main_obj.collapse,args=(" ",""))
features_df['genres'] = features_df['genres'].apply(main_obj.collapse,args=(" ",""))
features_df['keywords'] = features_df['keywords'].apply(main_obj.collapse,args=(" ",""))

In [14]:
features_df['overview'] = features_df['overview'].apply(lambda x:x.split())

In [15]:
features_df['tags'] = features_df['overview'] + features_df['genres'] + features_df['keywords'] + features_df['cast'] + features_df['crew']

# Dropping unwanted features

In [16]:
features_df = main_obj.drop_many(features_df,'overview','genres','keywords','cast','crew')

In [17]:
features_df['tags'] = features_df['tags'].apply(lambda x: " ".join(x))

# Final DataFrame

In [18]:
features_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

# Converting Data to CSV

In [19]:
features_df.to_csv('movie_data.csv')

# Computing Cosine Similarity

In [20]:
cosine_func = cs.Recommend_Movies('./movie_data.csv')
cosine_func.recommend('The Avengers', 'title','tags','cos_sim.pkl')

Avengers: Age of Ultron
Captain America: Civil War
Iron Man 3
Captain America: The First Avenger
Iron Man
Ant-Man
Iron Man 2
Captain America: The Winter Soldier
Guardians of the Galaxy
Thor: The Dark World

# Finding Similarity between two values

In [2]:
feature = cs.Compute_Scores('./movie_data.csv', feature_name='tags')

In [10]:
score = feature.compute_similarity(most_similar=1, window_size=100,sg=1,value1='Avengers',value2='Batman')
print(score)

0.81460404

In [4]:
score2 = feature.compute_similarity(most_similar=1, window_size=100,sg=1,value1='Titanic',value2='Batman')
print(score2)

0.2528395

# Finding most similar values to a given word

In [5]:
data = feature.find_similar(val_to_find='Ultron',most_similar=1, window_size=100,sg=1)
data

                 score
jumpstart     0.928692
Mightiest     0.923417
pave          0.916646
Avengers      0.903714
regulate      0.903458
polarizes     0.902067
peacekeeping  0.885650
enacting      0.884131
JossWhedon    0.837074
alliances     0.837034