# Importing pre processing functions

In [1]:
import funcs as obj
import cosine_similarity as cs

In [2]:
main_obj = obj.Pre_processing_functions()

# getting data

In [3]:
movie = main_obj.read_files(r'S:\NLP-projects\Movie Recommendoer\tmdb_5000_movies.csv')
credits = main_obj.read_files(r'S:\NLP-projects\Movie Recommendoer\tmdb_5000_credits.csv')

In [4]:
movie.shape

(4803, 20)

In [5]:
credits.shape

(4803, 4)

# Merging Dataframes

In [6]:
merged_df = main_obj.merge_data(movie,credits,on_feature='title')

# Selecting  Features

In [7]:
features_df = main_obj.select_features(merged_df,'movie_id','title','overview','genres','keywords','cast','crew')

In [8]:
features_df

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

# Filtering Null Values

In [9]:
features_df.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
features_df = features_df.dropna()

# String Processing

In [11]:
features_df['genres'] = features_df['genres'].apply(main_obj.convert,key='name')
features_df['keywords'] = features_df['keywords'].apply(main_obj.convert,key='name')
features_df['cast'] = features_df['cast'].apply(main_obj.convert,key='name')

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\1985639787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['genres'] = features_df['genres'].apply(main_obj.convert,key='name')
C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\1985639787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['keywords'] = features_df['keywords'].apply(main_obj.convert,key='name')
C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\1985639787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['cast'] = features_df['cast'].apply(main_obj.convert,key='name')

In [12]:
features_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
features_df['cast'] = features_df['cast'].apply(lambda x:x[0:3])

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\2076456374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['cast'] = features_df['cast'].apply(lambda x:x[0:3])

In [14]:
features_df.shape

(4806, 7)

# Selecting a specific Field from Column 'crew'

In [15]:
features_df['crew'] = features_df['crew'].apply(main_obj.fetch_ , args=('name','job','Director'))

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\197224542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['crew'] = features_df['crew'].apply(main_obj.fetch_ , args=('name','job','Director'))

# removing white spaces

In [16]:
features_df['cast'] = features_df['cast'].apply(main_obj.collapse,args=(" ",""))
features_df['crew'] = features_df['crew'].apply(main_obj.collapse,args=(" ",""))
features_df['genres'] = features_df['genres'].apply(main_obj.collapse,args=(" ",""))
features_df['keywords'] = features_df['keywords'].apply(main_obj.collapse,args=(" ",""))

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\2023850057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['cast'] = features_df['cast'].apply(main_obj.collapse,args=(" ",""))
C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\2023850057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['crew'] = features_df['crew'].apply(main_obj.collapse,args=(" ",""))
C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\2023850057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['genres'] = features_df['genres'].apply(main_obj.collapse,args=(" ",""))
C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\2023850057.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['keywords'] = features_df['keywords'].apply(main_obj.collapse,args=(" ",""))

In [17]:
features_df['overview'] = features_df['overview'].apply(lambda x:x.split())

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\317448428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['overview'] = features_df['overview'].apply(lambda x:x.split())

In [18]:
features_df['tags'] = features_df['overview'] + features_df['genres'] + features_df['keywords'] + features_df['cast'] + features_df['crew']

C:\Users\pslvm\AppData\Local\Temp\ipykernel_10104\516641742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['tags'] = features_df['overview'] + features_df['genres'] + features_df['keywords'] + features_df['cast'] + features_df['crew']

# Dropping unwanted features

In [19]:
features_df = main_obj.drop_many(features_df,'overview','genres','keywords','cast','crew')

In [20]:
features_df['tags'] = features_df['tags'].apply(lambda x: " ".join(x))

# Final DataFrame

In [21]:
features_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

# Converting Data to CSV

In [22]:
features_df.to_csv('movie_data.csv')

# Computing Cosine Similarity

In [23]:
cosine_func = cs.Recommend_Movies('./movie_data.csv')

In [24]:
cosine_func.recommend(movie_name='Spider-Man', feature1='title',feature2='tags',file_name='cos_sim.pkl')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
The Amazing Spider-Man

# Finding Similarity between two values

In [25]:
feature = cs.Compute_Scores('./movie_data.csv')

In [26]:
score1 = feature.compute_similarity(most_similar=1, window_size=100,sg=1,feature_name='tags',value1='Avengers',value2='Batman')
print(score1)

0.6020176

In [27]:
score2 = feature.compute_similarity(most_similar=1, window_size=100,sg=1,feature_name='tags',value1='Titanic',value2='Batman')
print(score2)

0.16382915

In [28]:
score3 = feature.compute_similarity(most_similar=1, window_size=100,sg=1,feature_name='tag',value1='Titanic',value2='Batman')
print(score3)

worng parameters passed

In [29]:
score3 = feature.compute_similarity(most_similar=1, window_size=100,sg=1,feature_name='tags',value1='Titanicship',value2='Batman')
print(score3)

worng parameters passed

# Finding most similar values to a given word

In [30]:
data = feature.find_similar(val_to_find='Ultron',most_similar=1, window_size=100,sg=1,feature_name='tags')
data

                            score
pave                     0.917809
jumpstart                0.907549
mightiest                0.903804
regulate                 0.898960
avengers                 0.889453
polarizes                0.885899
enacting                 0.851808
peacekeeping             0.848727
josswhedon               0.787684
marvelcinematicuniverse  0.786635

In [31]:
data1 = feature.find_similar(val_to_find='Ultron',most_similar=1, window_size=100,sg=1,feature_name='tag')
data1

'worng parameters passed'